{% extends 'base.html.twig' %}

{% block title %}New Restaurants{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Un nouveau restaurant</h3>

                    {# <div class="card-tools">
                    <a  class="btn btn-primary float-right" href="{{ path('admin_produit_new') }}"><i class="fas fa-plus"></i> Ajouter un produit</a>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                </div> #}
                </div>
                <div class="card-body p-3">
                    {{ include('restaurants/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <h1>Create new Restaurants</h1>



    <a href="{{ path('app_restaurants_index') }}">back to list</a>
{% endblock %}
